<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"> 
	<head>			
		<title>Tweet Feed</title>
		<th:block th:replace="fragments/header">			
		</th:block>		
	</head>
	<body>
		<div class="container">
			<div th:replace="fragments/navbar"></div>
			<h2>Tweets containing #<span th:text="${tag}"></span></h2>				
			<div th:replace="fragments/tweetlist"></div>				
			<div th:if="${#lists.isEmpty(tweetList)}">
				<h3>No tweets contain this hashtag</h3>
			</div>	
		</div>
	</body>
</html>